
/* Rules for sizing the icon. */
/* https://developers.google.com/fonts/docs/material_icons#:~:text=255%2C%200.3)%3B%20%7D-,Sizing,The%20default%20being%2024px. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* bootstrap large form switch */
/* cf https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox */

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

/* */

body {
    touch-action: manipulation; /* iOSのダブルタップの拡大を無効にする */
}

.my-top-area {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 100%;
}

.my-title {
    height: 100%;
    margin: 0;
    white-space: nowrap;
    font-size: min(4vw, 1.2rem);
}

.my-top-area-padding {
    margin: 0;
    padding: 0;
    height: 3rem; /* .my-top-area の height と同じ */
}


.my-middle-area {
    position: relative;
    margin: 0;
    padding: 1rem;
    height: calc(100dvh - 3rem); /* .my-top-area の height 分引く */
}

.my-main-content-left-floating {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 50%;
    margin: 0;
    width: 4rem;
    height: 4rem;
    background-color: white;
    opacity: 90%;
}

.my-main-content-right-floating {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 50%;
    margin: 0;
    width: 4rem;
    height: 4rem;
    background-color: white;
    opacity: 90%;
}


.my-main-content-area {
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    padding-bottom: 5rem;
    height: calc(100dvh - 9rem - 10px);
    overflow-y: scroll;
}

div#osmd-render-area {
    margin: 0;
    padding: 0;
}

div#osmd-render-area-above {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    text-align: center;
    color: gray;

    user-select: none;
    -webkit-user-select: none;
}

.hide-osmd {
    background-color: #f0f0f0;
}


/* bottom */

.my-bottom-area {
    /*height: 5rem;*/
    /*width: 100%;*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    background-color: white;
    opacity: 90%;
}

/* 最初は隠れていて歯車アイコンでニョキっと生えてくる部分 */
.my-bottom-setting-area-1 {
    /*width: 100%*/
}

/* 画面下部の歯車アイコンや移調、再生ボタンがある部分。常に見えている。 */
.my-bottom-setting-area-2 {
    display: flex;
    justify-content: space-between;
}

.my-setting-button {
    width: 4rem;
    height: 4rem;
}

.my-setting-button.collapsed {
    transform: rotate(-180deg);
}

.my-setting-icon {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.my-play-button {
    width: 4rem;
    height: 4rem;
}

.my-play-icon {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.version-info {
    color: gray;
}