/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

div#osmd-render-area-wrapper {
    position: relative;

    margin: 12px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    width: 96%;
    height: 400px;
}

div#osmd-render-area-above {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hide-osmd {
    background-color: #f0f0f0;
}